PORT=3002
DATABASE_URL=postgresql://user:pass@localhost:5432/ecom_cart
REDIS_URL=redis://localhost:6379
PRODUCT_CATALOG_URL=http://localhost:3001
USER_SERVICE_URL=http://localhost:3007
NODE_ENV=development
